@import "../../theme/colors.module.scss";

.root {
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.icon {
  margin: 0px 12px;
  min-width: 20px;
  min-height: 20px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.personFrame {
  padding: 12px;
  border-radius: 50%;
  background: $orange;
  margin: 0px 0px 0px 6px;
}

.innerIcon {
  color: #e3e3e3;
  position: relative;
  display: inline;
  width: 20px;
  height: 20px;
}

.iconLast {
  margin-left: 6px;
  padding: 0px;
  margin-top: 18px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  font-size: 14px;
  font-weight: 600;
  font-family: Roboto;
  margin: 12px 0px 0px;
}

.userType {
  font-family: Roboto;
  color: #aeaeae;
}

.indicator {
  display: flex;
  width: 12px;
  background: #bb4430;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 5px;
  z-index: 1;
  height: 12px;
}
